@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Julius+Sans+One&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root {
  --font-family: Mulish;
  --font-title: Ubuntu;

  background: var(--color-bg-gradient);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
  height: 120vh;

  --color-bg-gradient: linear-gradient(170deg, #6c42d5, #dfd9e4, #363ac8);
  --color-bg: #dfd9e4;
  --color-bg-extra-light: #f1efff;
  --color-bg-light: #cbc5f3;
  --color-bg-medium: #8676e4;

  --color-box-extra-light: #e6e3f6f4;
  --color-box-light: #d5d0f1f4;
  --color-box-light-hover: #ccc6eff4;
  --color-box-light-transparent: #ccc6ef71;
  --color-box-light-transparent-hover: #ccc6ef89;
  --color-box-shadow-extra-light: #cec5f3f4;
  --color-box-shadow-light: #d7d2f668;
  --color-box-shadow-medium: #7a68dd7a;


  --color-underline: #a69bed;
  --color-bg-deep: #544889;
  --color-line-deep: #48315b;
  --color-footer: #031B34;
  --color-icon: #7f2fd4;
  --color-blog: #042c54;
  --color-text: #000000;
  --color-text-light: #fcfcfc;
  --color-text-title: #5b38c4;
  --color-text-hover: #6539e6;
  --color-link: #3f26a1;
  --color-subtext: #6e6492;
  --color-subtitle: #342c38;
  --color-link-transparent: rgba(88, 35, 145, 0.2);
  --color-box-shadow: rgba(139, 113, 151, 0.1);
  --color-button-light: #c6a0f181;
  --color-button-hover: #a9a0f139;


  --box-margin: 2rem 10rem 2rem;

}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}