.team-box {
    position: relative;
}

.mentors-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vw;
    column-gap: 3vw;

}


.students-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vw;
    column-gap: 3vw;


}

.name {
    padding: 3vw;
}

.card img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    opacity: 0.9;
    margin: 0rem 2rem;
    border-radius: 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3vw 5vw 0vw 5vw;
    transition: 0.4s ease;
    overflow: hidden;
    opacity: 0.8;
}

.card:hover {
    transition: 0.4s ease;
    opacity: 1;
}


#ps {
    font-size: 0.7rem;
}


@media screen and (max-width: 1200px) {
    .students-box {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2vw;
    }

    .card {
        width: 12vw;
        height: 16vw;
    }

}


@media screen and (max-width: 900px) {
    .students-box {
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        width: 20vw;
        height: 26vw;
    }

}