.team-box {
    position: relative;
}

.mentors-box{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    
}


.students-box{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

img {
    width:100%;
    border-radius: 10px;
}

.card {
    padding: 1rem;
    width: 10vw;
    height: 15vw;
    border-radius: 20px;
    background-color: var(--color-box-light-transparent);
    transition: 0.4s ease;
   
    
}

.card:hover{
    background-color: var(--color-box-light-transparent-hover);
    transition: 0.4s ease;
    box-shadow:  0px 0px 10px 10px var(--color-box-shadow);

}


#ps{
    font-size: 0.7rem;
}


@media screen and (max-width: 1200px) {
    .students-box {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, max-content);
        grid-gap: 2vw;

    }

    .card{
        width: 12vw;
        height: 16vw;
    }
    
}


@media screen and (max-width: 900px) {
    .students-box {
        grid-template-columns: repeat(3, 1fr);

    }

    .card{
        width: 20vw;
        height: 26vw;
    }
    
}
