.blogpost {
    margin: 5vw 10vw 10vw;

}

.blogpost-content {
    padding-bottom: 10vh;
}

.blogpost-date {
    color: var(--color-subtext);
    margin-bottom: 5vh;
}



.blogpost-title {
    margin-bottom: 5vh;
    width: 80%;

}

.blogpost h2 {
    margin-bottom: 5vh;
}

.blogpost p {
    margin-bottom: 5vh;
    overflow: hidden;

}

.blogpost .img-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blogpost .img-wrapper img {
    margin: 0rem 4rem;
    padding-bottom: 2vh;
    width: 40vw;
    border-radius: 20px;
}

.blogpost p em {
    font-style: italic;
    font-weight: 200;
    color: var(--color-subtext);
    overflow: hidden;
    display: block;
    width: 40%;
}

.blogpost .img-wrapper {
    width: 40vw;
    padding: 0rem;
}