.publications {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-content: baseline;
    margin: 3vw 10vw 5vw;
    grid-gap: 2vw;
}
.pub-box{

    height: max-content;
    transition: fade 0.4s ease-out;
}

.pub-list {
    width: 70%;
}

.pub-list-content{
    display: flex;
    flex-direction: column;
}

.pub-list-date {
    font-size: 1vw;
    color: var(--color-subtext);
}

 