.pub-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 3vw 10vw 1vw;
}
.pub-box{
    box-shadow: 5px 5px 5px 5px var(--color-box-shadow);
    border-radius: 10px;
    border: solid black 1px;
    padding: 2rem;
    transition: fade 0.4s ease-out;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .pub-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, max-content);
        grid-gap: 10px;
    }

    .pub-box {
        text-align: left;
    }
}
    