.recent {
    padding: 10vh 10vw;
}


.blog-posts {
    padding: 5vh 0vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
}

.blog-posts-box {
    border-radius: 20px;
    background-color: var(--color-box-light);
    padding: 2rem;
    transition: 0.4s ease;
    height: 40vh;
    overflow: hidden;
}

.blog-posts a {
    color: var(--color-text);
}

.blog-posts h2 {
    color: var(--color-text-title);
    margin-bottom: 1vh;
}

.blog-posts .post-short {
    font-weight: 300;
    font-size: 1.2vw;
    padding-bottom: 2rem;
}

.blog-posts-box:hover {
    color: var(--color-text);
    transition: 0.4s ease;
    font-weight: 600;
}

.blog-posts .post-date {
    color: var(--color-subtext);
    margin-bottom: 2vh;
}

.blog-posts-box:hover {
    background-color: var(--color-box-light-hover);
    transition: 0.4s ease;
    box-shadow: 0px 0px 10px 10px var(--color-box-shadow);
}

.recent-button button {
    padding: 1.5vw;
    width: max-content;
    font-size: 1.5vw;
    font-weight: 800;
}


@media screen and (max-width: 800px) {
    .recent-button button {
        font-size: 2vw;
        padding: 2vw;
    }
}


@media screen and (max-width: 600px) {
    .recent-button button {
        font-size: 3vw;
        padding: 3vw;
    }
}