.acknowledgements {
    align-items: center;
    padding: 5rem;
  
}

.acknowledgements-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    grid-gap:20px;

}
.acknowledgements-content-box {
    border-radius: 20px;
    background-color: var(--color-box-light);
    padding: 2rem;
    transition: 0.4s ease;
}

.acknowledgements-content-box:hover {
    background-color: var(--color-box-light-hover);
    transition: 0.4s ease;
    box-shadow:  0px 0px 10px 10px var(--color-box-shadow);
}

.acknowledgements-content-box a {
    color: var(--color-text);
}

.acknowledgements-content-box p{
    font-weight: 300;
    font-size: 1.2vw;
}

.acknowledgements-content-box h3 {
    color: var(--color-text-title);
    margin-bottom: 1vh;
}

